.card {
    box-sizing: border-box;
    width: 16.66vw;
    height: 11.4vw;
    box-shadow: 0 0 10px 5px rgba($color: #FF9900, $alpha: .15);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 0.26vw solid black;
    
    @media (max-device-width: 1290px) and (orientation: portrait){
        width: 45vw;
        height: 32vw;
    }    

    .name {
        width: 10vw;
        height: 5vw;
        position: absolute;
        font-size: 1.3vw;
        // font-size: 25px;
        font-weight: 400;
        line-height: 1.5vw;
        align-content: center;
        top: .3vw;
        color: #FFFFFF;
        left: .7vw;
        // text-shadow: -1px -1px 0 black;

        @media (max-device-width: 1290px) and (orientation: portrait){
            width: 30vw;
            height: 13vw;
            top: 1vw;
            left: 2vw;
            font-size: 3.4vw;
            line-height: 4vw;
        }  
    }

    .checkBox {
        box-sizing: border-box;
        position: absolute;
        width: 5.21vw;
        height: 4.43vw;
        top: .3vw;
        right: .3vw;
        border-radius: 10px;
        border: 0.26vw solid black;
        box-shadow: 0 0 10px 5px #FF990040;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: .3);

        @media (max-device-width: 1290px) and (orientation: portrait){
            width: 14.6vw;
            height: 12.6vw;
            top: 1vw;
            right: 1vw;
            border-radius: 10px;
            border: 3px solid black;

            .cross {
                transform: scale(.85);
            }
        }  
    }
}

.imgContainer{
    width: 16.66vw;
    height: 11.4vw;
    display: flex;
    // justify-content: center;
    background-size: contain;
    // align-items: flex-start;
    
    @media (max-device-width: 1290px) and (orientation: portrait){
        width: 45vw;
        height: 32vw;
    }  
}
