.card {
    box-sizing: border-box;
    width: 320px;
    height: 218px;
    box-shadow: 0 0 10px 5px rgba($color: #FF9900, $alpha: .15);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid black;
    
    @media (max-device-width: 1290px){
        width: 47vw;
        height: 14.8vh;
    }    

    .name {
        width: 192.67px;
        height: 92.48px;
        position: absolute;
        font-size: 25px;
        font-weight: 400;
        line-height: 28.85px;
        align-content: center;
        top: 6.61px;
        color: #FFFFFF;
        left: 13.33px;
        // text-shadow: -1px -1px 0 black;

        @media (max-device-width: 1290px){
            width: 121.62px;
            height: 58.55px;
            top: 4.18px;
            left: 8.42px;
            font-size: 15px;
            line-height: 17.31px;
        }  
    }

    .checkBox {
        box-sizing: border-box;
        position: relative;
        width: 100px;
        height: 85.22px;
        top: -210px;
        left: 204px;
        border-radius: 10px;
        border: 5px;
        border: 5px solid black;
        box-shadow: 0 0 10px 5px #FF990040;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: .3);

        @media (max-device-width: 1290px){
            width: 63.13px;
            height: 53.95px;
            top: -13.6vh;
            left: 29vw;
            border-radius: 10px;
            border: 3px solid black;

            .cross {
                transform: scale(.85);
            }
        }  
    }
}

.imgContainer{
    width: 320px;
    height: 218px;
    display: flex;
    justify-content: center;
    background-size: contain;
    
    @media (max-device-width: 1290px){
        width: 47vw;
        height: 14vh;
    }  
}
