.app {
  width: 1440px;
  // height: 1024px;
  display: flex;
  flex-flow: column;
  align-items: center;
  
    
  @media screen and (max-width: 430px){
    width: 430px;
  }

  .cardContainer {
    width: 1340px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media screen and (max-width: 430px){
      width: 430px;
    }  
  }
}

.headWrap{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1340px;
  height: 95px;
  
  .header {
    height: 95px;
    width: 771.22px;
    font-weight: 400;
    font-size: 60px;
    line-height: 69.3px;

    color: white;
    align-content: center;
  }

  .logo {
    margin-top: 5px;
    width: 100px;
    height: 90px;
    background-image: url('../public/img/logo.svg');
    background-position: center;
    background-size: cover; 
  }

  .datePicker {
    align-content: center;
    margin-right: 15px;
    width: 365.36px;
    height: 95px;
    left: 745px;
    top: 0px
  }
}


.currDay {
  width: 365.36px;
  height: 95px;
  left: 1024.64px;
  font-size: 60px;
  font-weight: 400;
  align-content: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #FFFFFF;
  
}
