.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
    
  @media (max-device-width: 1290px) and (orientation: portrait){
    width: 100vw;
    height: 100vh;
  }

  .cardContainer {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    // justify-content: center;

    @media (max-device-width: 1290px) and (orientation: portrait){
      width: 93vw;
      justify-content: center;
    }  
  }
}

.headWrap{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 70vw;
  height: 4.95vw;
  
  .header {
    height: 4.95vw;
    width: 70vw;
    font-weight: 400;
    font-size: 3.13vw;
    text-wrap: nowrap;

    color: white;
    align-content: center;

    @media (max-device-width: 1290px) and (orientation: portrait){
      width: 70vw;
      height: 16vw;
      font-size: 5vw;
      line-height: 7vw;
      text-align: center;
      // text-wrap: wrap;
      justify-content: center;
    }  

  }

  .logo {
    margin-top: 0.26vw;
    width: 5vw;
    height: 5vw;
    background-image: url('../public/img/logo.svg');
    background-position: center;
    background-size: cover; 

    @media (max-device-width: 1290px) and (orientation: portrait){
      display: none;
    }  
  }

  .datePicker {
    width: 19.01vw;
    height: 4.95vw;

    @media (max-device-width: 1290px) and (orientation: portrait){
      width: 46.5vw;
      height: 16vw;
      justify-content: center;
    }  

  }

  @media (max-device-width: 1290px) and (orientation: portrait){ 
    width: 70vw;
    height: 70px;
    // flex-flow: row;
    justify-content: center;
    // align-items: center;
  }  
}


.currDay {
  // width: 19.01vw;
  height: 4.95vw;
  font-size: 3.13vw;
  font-weight: 400;
  align-content: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #FFFFFF;
  
  @media (max-device-width: 1290px) and (orientation: portrait){
    width: 46.5vw;
    height: 16vw;
    font-size: 7.5vw;
    text-align: right;
  }  
}

.logoMobile {
  display: none;

  @media (max-device-width: 1290px) and (orientation: portrait){
    background-position: center;
    background-size: cover; 
    display: block;
    width: 90vw;
    height: 15vw;
    padding-top: 9vw;
    background-image: url('../public/img/logoMobile.svg');
  }  
}