@font-face {
  font-family: 'YesevaOne';
  src: url(../public/YesevaOne-Regular.ttf);
}

html {
  background-color: #000000;
}

body {
  height: 120vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'YesevaOne';
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #000000 91.92%, #F6A119 128.31%);
  background-repeat: no-repeat;
  /* padding-top: 50px; */
  overflow: hidden;
  
  @media (max-device-width: 1290px) and (orientation: portrait){
    padding-top: 9px;
  }  
   
}